body {
  font: 14px sans-serif;
}

#title {
  margin-left: 10px;
}

#chart {
  display: block;
}

#chart,
#info-single {
  width: 1000px;
  padding: 10px;
}

#info-single .infos {
  display: flex;
}

#info-single h1 {
  font: 16px;
}

#info-single .info {
  flex-grow: 1;
}

.filters {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filters label {
  padding: 10px;
}
